.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
}

#heart {
    cursor: pointer;
    color: #ccc;
}

#heart:hover, #heart.active { 
    color: red;
}

